image: maven:3.9.6-eclipse-temurin-17

stages:
  - test

variables:
  MAVEN_OPTS: "-Djava.awt.headless=true"
  _JAVA_OPTIONS: "-Djava.awt.headless=true"
  SE_EVENT_BUS_HOST: selenium-hub
  SE_EVENT_BUS_PUBLISH_PORT: 4442
  SE_EVENT_BUS_SUBSCRIBE_PORT: 4443

services:
  - name: selenium/hub:4.19.1
    alias: selenium-hub

  - name: selenium/node-chrome:4.19.1
    alias: chrome

test:
  stage: test

  before_script:
    - java -version
    - mvn -version

    # Make sure master.xml is present in repo root (same level as pom.xml)
    - ls -l

    # Wait for Selenium Hub to be ready
    - |
      echo "Waiting for Selenium Grid..."
      for i in {1..30}; do
        curl -s http://selenium-hub:4444/status | grep -q '"ready":true' && break
        echo "Selenium not ready yet..."
        sleep 5
      done

  script:
    - mvn clean test

  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - target/surefire-reports/
      - target/screenshots/
