stages:
  - test

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  MAVEN_CLI_OPTS: "-B -DskipTests=false"
  SELENIUM_REMOTE_URL: "http://selenium:4444/wd/hub"

cache:
  paths:
    - .m2/repository

selenium-tests:
  stage: test
  image: maven:3.9.9-eclipse-temurin-17

  services:
    - name: selenium/standalone-chrome:4.19.0
      alias: selenium

  before_script:
    - java -version
    - mvn -version

  script:
    - echo "Running Selenium TestNG tests in headless mode..."
    - mvn $MAVEN_CLI_OPTS clean test -Dexecution=remote -Dselenium.remote.url=$SELENIUM_REMOTE_URL

  artifacts:
    when: always
    paths:
      - target/surefire-reports/
      - target/screenshots/
    reports:
      junit: target/surefire-reports/*.xml
    expire_in: 7 days
