stages:
  - test

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  MAVEN_CLI_OPTS: "-B -DskipTests=false"
  DISPLAY: ":99"

cache:
  paths:
    - .m2/repository

selenium-tests:
  stage: test
  image: maven:3.9.9-eclipse-temurin-17

  services:
    - name: selenium/standalone-chrome:4.19.0
      alias: selenium

  before_script:
    # Install GUI / X11 libs required by Java AWT & Selenium
    - apt-get update
    - apt-get install -y libxext6 libxrender1 libxtst6 libxi6 libgtk-3-0

    # Make selenium container reachable as localhost
    - echo "127.0.0.1 selenium" >> /etc/hosts

    - java -version
    - mvn -version

  script:
    - echo "Running Selenium TestNG tests in GitLab CI..."
    - mvn clean test

  artifacts:
    when: always
    paths:
      - target/surefire-reports/
      - target/failsafe-reports/
      - target/screenshots/
    expire_in: 7 days
