stages:
  - test

test:
  stage: test
  image: maven:3.9.6-eclipse-temurin-17-jammy

  services:
    - name: selenium/hub:4.18.1
      alias: selenium-hub

    - name: selenium/node-chrome:4.18.1
      alias: chrome

  variables:
    SELENIUM_REMOTE_URL: "http://selenium-hub:4444/wd/hub"
    SE_NODE_GRID_URL: "http://selenium-hub:4444"
    SE_EVENT_BUS_HOST: "selenium-hub"
    SE_EVENT_BUS_PUBLISH_PORT: "4442"
    SE_EVENT_BUS_SUBSCRIBE_PORT: "4443"

  script:
    - echo "Running tests on Selenium Grid (Hub + Chrome Node)"
    - mvn -B test -Djava.awt.headless=true

  artifacts:
    when: always
    paths:
      - target/surefire-reports/
      - screenshots/
