image: maven:3.9.9-eclipse-temurin-17

stages:
  - test

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  JAVA_TOOL_OPTIONS: "-Djava.awt.headless=true"

cache:
  paths:
    - .m2/repository

test:
  stage: test
  services:
    - name: selenium/standalone-chrome:4.31.0
      alias: selenium
  before_script:
    - apt-get update
    - apt-get install -y wget curl unzip
  script:
    - mvn clean test
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/*.xml
    paths:
      - target/surefire-reports/
      - target/screenshots/
