stages:
  - build
  - test
  - report

variables:
  MAVEN_OPTS: "-Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "-B -DskipTests=false"
  SELENIUM_REMOTE_URL: "http://selenium-hub:4444/wd/hub"

build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-17
  script:
    - mvn -B clean compile
  artifacts:
    paths:
      - target/
    expire_in: 1 week

test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-17

  services:
    - name: selenium/hub:4.18.1
      alias: selenium-hub
    - name: selenium/node-chrome:4.18.1
      alias: chrome

  variables:
    SE_EVENT_BUS_HOST: "selenium-hub"
    SE_EVENT_BUS_PUBLISH_PORT: "4442"
    SE_EVENT_BUS_SUBSCRIBE_PORT: "4443"
    SE_NODE_GRID_URL: "http://selenium-hub:4444"

  script:
    - echo "Waiting for Selenium Grid..."
    - sleep 10
    - mvn -B test -Dos=linux -Dbrowser=chrome

  artifacts:
    when: always
    paths:
      - target/surefire-reports/
      - target/failsafe-reports/
      - screenshots/
    expire_in: 1 week

report:
  stage: report
  image: maven:3.9.9-eclipse-temurin-17
  script:
    - echo "Pipeline finished. Reports are in artifacts."
  artifacts:
    paths:
      - target/surefire-reports/
    expire_in: 1 week
